.queue {
    font-size: 1rem;
    background-color: #f5f6f8;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__container {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
}
