.login {
  font-size: 1rem;
  $GOOGLE_RED: #dd4b39;
  $FACEBOOK_BLUE: #3b5998;
  $BTN_WHITE: rgba(255,255,255, .8);
  width: 100%;
  height: 100%;
  color: #222;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    background: url('../../img/pourcoffee.jpg') no-repeat center center fixed; 
    background-size: cover;
  }

  &__login {
      width: 350px;
      background-color: #fff;
      height: 100%;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
  }

  &__title {
      text-align: center;
      font-size: 2em;
      margin: 0;
      margin-bottom: .25em;
  }

  &__description {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-bottom: 2em;
      opacity: .7;
      display: flex;
      justify-content: center;
  }

  &__logo {
      width: 300px;
      padding: .5em .5em .5em 1.5em;
  }

  &__links {
      position: fixed;
      bottom: 1em;
      opacity: .5;
  }

  &__linkList {
      display: inline;
      list-style: none;
  }

  &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
  }

  &__facebookBtn {
    background-color: $FACEBOOK_BLUE;
    border: none;
    padding: .7em 1em;
    color: $BTN_WHITE;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  &__googleBtn {
    background-color: $GOOGLE_RED;
    border: none;
    padding: .7em 1em;
    border-radius: 5px;
    color: $BTN_WHITE;
    cursor: pointer;
  }

  &__disclaimer {

  }
}
